*{
    font-family: Copperplate,Copperplate Gothic Light,fantasy; 
}

body{
    background-color: #999999;
}

.contact_icon{
    color: $46CB18;
}

.contact_icon:hover{
    color: $46CB18;
}

.prj_icon{
    color: #020202;
}

.prj_icon:hover{
    color: #020202;
}

.pLink{
    color: #020202;
    -webkit-text-stroke: 1px #999999;
}

.pLink:hover{
    color: #020202;
    -webkit-text-stroke: 1px #999999;
}

.banner {
    height: 10%;
    position: relative;
    overflow: hidden;
}

.banner__video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    min-width: 100%;
    height: auto;
    min-height: 100%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -1;
}

.aboutMe{
    color: #020202;
}

.abtme{
    text-decoration: underline;
    text-decoration-color: #46CB18;
}

.prjs{
    text-decoration: underline;
}


.text-center{
    height:50%;
}
.p_title{
    -webkit-text-stroke: 1px black;
    color: #999999;
    position: absolute;
    top: 20%;
    left: 7%;
    visibility: hidden;
}

.p_repo{
    -webkit-text-stroke: 1px black;
    color: #999999;
    position: absolute;
    bottom: 5%;
    right: 10%;
    visibility: hidden;
}

.p_link{
    -webkit-text-stroke: 1px black;
    color: #999999;
    position: absolute;
    bottom: 5%;
    left: 10%;
    visibility: hidden;
}

.projItem:hover .p_title{
    visibility: visible;
}

.projItem:hover .p_repo{
    visibility: visible;
}

.projItem:hover .p_link{
    visibility: visible;
}

.projItem {
    text-align: center;
}

.space{
    height: 450px;
}

.welcome {
    top: 150px;
}

.welcome_text{
  -webkit-text-stroke: 1px black;
  color: #999999;
}

.dob{
  -webkit-text-stroke: 1px black;
    color: #46CB18;
}

.prj_img{
    height: 100%;
    width: 100%;
}

.foot{
    color:#999999;
    background-color: #020202;
}

.dob_img{
    border-style: solid;
    border-color: black;
    display: block;
    width: 45%;
    height: auto;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border-radius: 20%;
}

.altShadowBox{
    background-color: #cccccc;
    border-radius: 10px;
    box-shadow: 5px 10px;
    margin: 5px;
}

.shadowBox{
    background-color: #cccccc;
    border-radius: 25px;
    box-shadow: 5px 10px;
    margin: 5px;
    padding-bottom: 12px;
}

.shadowBox_info{
    background-color: #cccccc;
    border-radius: 25px;
    box-shadow: 5px 10px;
    margin: 5px;
}
